/*
Design 
*/

body{
   background: silver;
   font-family: 'Roboto', sans-serif;

}

#header{
    padding: 20px;
    background: darkorange;

}

#content{
    background: #fff;
    padding: 20px;
}

#footer{
    background: seagreen;
    padding: 20px;
}
